<apex:page controller="WithSharing" extensions="WithoutSharing">
   <apex:pageBlock >
       <apex:pageBlockSection title="Candidate List With Sharing" collapsible="false">  
           <apex:pageBlockTable value="{!candidateRecords}" var="detail">
               <apex:column >
                   <apex:facet name="header">First Name</apex:facet>
                   <apex:outputText value="{!detail.First_Name__c}"/>
               </apex:column>
               <apex:column >
                   <apex:facet name="header">Last Name</apex:facet>
                   <apex:outputText value="{!detail.Last_Name__c}"/>
               </apex:column>
               <apex:column >
                   <apex:facet name="header">Email</apex:facet>
                   <apex:outputText value="{!detail.Email__c}"/>
               </apex:column>
               <apex:column >
                   <apex:facet name="header">Status</apex:facet>
                   <apex:outputText value="{!detail.Status__c}"/>
               </apex:column>
               <apex:column >
                   <apex:facet name="header">Job Name</apex:facet>
                   <apex:outputText value="{!detail.Job__c}"/>
               </apex:column>
               
           </apex:pageBlockTable>
           
       </apex:pageBlockSection>
   </apex:pageBlock>
   
   <apex:pageBlock >
       <apex:pageBlockSection title="Candidate List Without Sharing" collapsible="false">  
           <apex:pageBlockTable value="{!candidates}" var="details">
               <apex:column >
                   <apex:facet name="header">First Name</apex:facet>
                   <apex:outputText value="{!details.First_Name__c}"/>
               </apex:column>
               <apex:column >
                   <apex:facet name="header">Last Name</apex:facet>
                   <apex:outputText value="{!details.Last_Name__c}"/>
               </apex:column>
               <apex:column >
                   <apex:facet name="header">Email</apex:facet>
                   <apex:outputText value="{!details.Email__c}"/>
               </apex:column>
               <apex:column >
                   <apex:facet name="header">Status</apex:facet>
                   <apex:outputText value="{!details.Status__c}"/>
               </apex:column>
               <apex:column >
                   <apex:facet name="header">Job Name</apex:facet>
                   <apex:outputText value="{!details.Job__c}"/>
               </apex:column>
               
           </apex:pageBlockTable>
           
       </apex:pageBlockSection>
   </apex:pageBlock>
</apex:page>