<template>
<lightning-card title="Track-Param-Value" >
    <h1>
    Hello {trackParam}
    </h1>   
</lightning-card>
<lightning-card title="Api-Param-Value"  >
    <h1>
        Hello {apiParam}
    </h1>   
</lightning-card>
<lightning-card title="NonReactive-Param-Value"  >
    <h1>
        Hello {nonReactiveParam}
    </h1>  
</lightning-card>
<lightning-button label="Click Me" onclick={onClickFun}></lightning-button>
</template>